<div class="container wrapper_footer">
	<div class="row">
	    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
	    	<h5 class="text-center title">NEWSLETTER SIGNUP</h5>
	        <p>Copyright © 2018, Shop Online</p>
	        <p>Copyright © 2018, Shop Online</p>
	        <p>Copyright © 2018, Shop Online</p>
	    </div>
	    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
	    	<h5 class="text-center title">GO TO</h5>
	    	<div class="go_to">
		        <a href="#">Used machines</a>
		        <a href="#">Sell your machines</a>
		        <a href="#">Partners</a>
		        <a href="#">Request forms</a>
		        <a href="#">Contact</a>
		    </div>
	    </div>
	    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
	    	<h5 class="text-center title">CONTACT INFORMATION</h5>
	        <div class="textwidget">
	        	<p>Galred Europe BV</p>
				<p>Willem Arntszlaan 125</p>
				<p>3734 EE Den Dolder</p>
				<p>The Netherlands</p>
			</div>
			<div class="textwidget mrg_top_10">
				<p>Tel: +31 (30) 225 1523</p>
				<p>KvK nr: 24249460</p>
				<p>BTW nr: NL 806024951 B01</p>
				<p>E-mail: info@galred.com</p>
			</div>
	    </div>
	</div>
</div>