<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shop</title>
<meta name="keywords" content="pointing2machines, pointing , machines">
<meta name="description" content="P2M¦ pointing2machines">
<meta name="google-site-verification" content="BtVNYrzXGPw9xz_qWYcg5hFh0U87-uSSKhWG4G2pgXk" />
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ asset('css/library/slick.min.css') }}" rel="stylesheet" />
<link href="{{ asset('css/style.css') }}" rel="stylesheet" />