<div class="row header_div">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 logo_grid">
    	<img src="img/logo.png" class="focus" >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact_details_grid">
        <div class="contact_details">
            <div class="contact_item">
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="mailto:sales@pointing2machines.com" target="_top">sales@pointing2machines.com</a>
            </div>
            <div class="contact_item">
                <span class="glyphicon glyphicon-earphone"></span>
                <a href="tel:0123456789">012 3456 789</a>
            </div>   
        </div>
    </div>
</div>