{% extends "@AppBundle/Resources/views/Client/layout.html.twig" %}

{% block body %}

	<h1>Used Machines page</h1>
	<h2>Used Machines page</h2>
	<h3>Used Machines page</h3>
	<h4>Used Machines page</h4>
	<h5>Used Machines page</h5>
	<h6>Used Machines page</h6>

{% endblock %}