<div class="input-group col-md-12">
    <input type="text" class="form-control" placeholder="Search" />
    <span class="input-group-btn">
        <button class="btn btn-info" type="button">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </span>
</div>