{% extends "@AppBundle/Resources/views/Client/layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3" id="sidebar_filter">
	   
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		{% set noProductImage = "img/no_product_image.png" %}
    	<div class="last_product_carousel">
		  	<div>
		  		<a href="#">
		  			<img src="img/products/machine_1.jpg" alt="machine_1.jpg">
		  		</a>
		  		<a href="#">F&K gearless CI printing press</a>
		  		<a href="#">F17007</a>
		  	</div>
		  	<div>your content</div>
		  	<div>your content</div>
		</div>
    </div>
</div>
{% endblock %}