{% extends "@AppBundle/Resources/views/Client/layout.html.twig" %}

{% block body %}

	<h1>Spare parts</h1>
	<h2>Spare parts</h2>
	<h3>Spare parts</h3>
	<h4>Spare parts</h4>
	<h5>Spare parts</h5>
	<h6>Spare parts</h6>

{% endblock %}